// In VuePress 2.0x I should use index.scss for the CSS

body{
    overflow-y:scroll;
}
.flex-container {
  // display: flex;
  // flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;

  & > * {
    margin: 10px;
  }
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
 }

 div:nth-last-child(1) > div > button.navbar-dropdown-title > span.title::before {
  content: ''; 
  position: relative;
  mask-image: url(/images/translation.svg);
  mask-repeat: no-repeat;
  padding-right: 1.5rem;
  position: relative;
  top: 3px;
  background-color: var(--c-text);
}



