body
  overflow-y:scroll

.flex-container
  display: flex
  flex-wrap: wrap

  & > div
    margin: 10px

@media (max-width: $MQMobile)
  .cornerGitHub
    display none

.dropdown-title
  width 6rem // same width for english and french
  .title::before
    //https://commons.wikimedia.org/wiki/OOUI_icons
    content:url(/img/language.svg);
    padding-right: 5px;
    position: relative;
    top: 3px;

.glow {
  align:center;
  background-color: black;
  border-radius: 15px;
  height: 5rem;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}